.divD
{
    float: left;
    color:beige;
    width: 100px;
    height: 100px;
    background-color: rgb(165, 42, 132);
}
.changementcouleur1{
    background-color: blueviolet;
    color: brown;
    width: 200px;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.changementcouleur2{
    background-color: royalblue;
    color: yellowgreen;
    width: 200px;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dispariton
{
    background-color: white;
}
